<form [formGroup]="credentials" (ngSubmit)="register()">
  <ion-item>
    <ion-label position="floating">First Name</ion-label>
    <ion-input formControlName="firstName" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Last Name</ion-label>
    <ion-input formControlName="lastName" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input formControlName="email" type="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input formControlName="password" type="password"></ion-input>
  </ion-item>
  <ion-button expand="full" type="submit" [disabled]="credentials.invalid">Register Mechanic</ion-button>
</form>